:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  background-color: var(--blue);
  border-radius: 50%;
}

.loader {
  @extend .circle;
  width: 2.4rem;
  height: 2.4rem;
  animation: loader 1s ease-in-out infinite;
}

.loader:before,
.loader:after {
  @extend .circle;
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 4px;
  opacity: .6;
}

.loader:before {
  right: 7.2rem;
}

.loader:after {
  left: 7.2rem;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
