:root {
  --purple: #BE52F2;
  --purple-50: #DBA5F5;
  --purple-25: #EEDFF2;

  --blue: #6979F8;
  --blue-75: #A5AFFB;
  --blue-25: #E5E7FA;

  --yellow: #FFCF5C;
  --yellow-75: #FFE29D;
  --yellow-25: #FFF8E7;

  --orange: #FFA26B;
  --orange-75: #FFC7A6;
  --orange-25: #FFE8DA;

  --red: #FF647C;
  --red-75: #FDAFBB;
  --red-25: #FBE4E8;

  --dark: #1A051D;
  --white: #FFF;

  --font-family-inter: 'Inter', san-serif;
}
